@model Datos.Models.Login
@{
    Layout = "~/Views/Shared/_LayoutAutent.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4">
            <div class="card mt-5">
                <div class="card-header ">
                    <div class="form-group">
                        <h2 class="text-danger text-center"><strong>Portal de Requisiciones</strong></h2>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <p class="text-center">Tu informacion al alcance</p>
                    <form asp-action="Login">
                        <div class="login">
                            <div class="form-group mt-2">
                                <h4 class="text-primary text-center ">Inicio de Sesión</h4>
                            </div>
                            <div class="text-danger text-center" id="error">
                                @ViewBag.error
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-group mb-3">
                                <input asp-for="USU_RUC" class="form-control" value="15603543855" />
                                <div class="input-group-append">
                                    <div class="input-group-text bg-info" style="width: 40px;">
                                        <i class="far fa-address-card"></i>
                                    </div>
                                </div><br />
                                <span asp-validation-for="USU_RUC" class="text-danger w-100"></span>
                            </div>
                            <div class="input-group mb-3">
                                <input asp-for="USU_CODIGO" class="form-control" value="AMARQU" />
                                <div class="input-group-append">
                                    <div class="input-group-text bg-info" style="width: 40px;">
                                        <i class="far fa-user"></i>
                                    </div>
                                </div><br />
                                <span asp-validation-for="USU_CODIGO" class="text-danger w-100"></span>
                            </div>
                            <div class="input-group mb-3">
                                <input asp-for="USU_PASSWORD" class="form-control" onkeypress="presiona(event)" value="1" type="password" />
                                <div class="input-group-append">
                                    <div class="input-group-text bg-info">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div><br />
                                <span asp-validation-for="USU_PASSWORD" class="text-danger w-100"></span>
                            </div>
                            <div class="form-group">
                                <div class="m-2  ">
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <div class="icheck-primary">
                                                <input type="checkbox" name="remember" id="remember" />
                                                <label for="remember">
                                                    Recordar
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- /.col -->
                                        <div class="col-12 ">
                                            <!--<button type="submit" class="btn btn-success btn-block">Iniciar Sesion</button>-->
                                            <button class="btn btn-success btn-block">
                                                <i class="fas fa-check"></i>
                                                Iniciar Sesi&oacute;n
                                            </button>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-center">
    <strong>
        Tecnologia desarrollada por  &nbsp;
        <a class="text-danger" href="http://www.starsoft.com.pe" target="_blank">
            <img src="@Url.Content("~/logo2.png")" style="width: 150px;height: 15px;">
        </a>
    </strong> <br />
    <strong><a class="text-danger" href="http://www.starsoft.com.pe" target="_blank">www.starsoft.com.pe</a> </strong>
</footer>
<!--<footer class="text-center">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <strong>
                        Tecnologia desarrollada por  &nbsp;
                        <a class="text-danger" href="http://www.starsoft.com.pe" target="_blank">
                            <img src="Url.Content("~/logo2.png")" style="width: 150px;height: 15px;">
                        </a>
                        <br />
                        <a class="text-danger" href="http://www.starsoft.com.pe" target="_blank">www.starsoft.com.pe</a>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</footer>-->
<script type="text/javascript">
    var arreglo_viejo = JSON.parse(localStorage.getItem('arreglo'));


    $(function () {
        if (arreglo_viejo != null) {
            arreglo_viejo = JSON.parse(localStorage.getItem('arreglo'));

            $("#USU_RUC").val(arreglo_viejo[0]);
            $("#USU_CODIGO").val(arreglo_viejo[1]);
            $("#remember")[0].checked = true;
            $("#USU_PASSWORD").val("");
        };
    });

    function iniciar_sesion() {
        var ruc = $("#USU_RUC").val();
        var usuario = $("#USU_CODIGO").val();
        var remember = $("#remember")[0].checked;
        var arreglo = new Array();

        if (remember) {
            arreglo = [ruc, usuario];
            localStorage.setItem('arreglo', JSON.stringify(arreglo));
        } else {
            localStorage.clear();
        }
        document.forms[0].submit();
    }

    function presiona(e) {
        var tecla = (document.all) ? event.keyCode : e.which;
        if (tecla == 13) {
            iniciar_sesion();
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}