@model Datos.Models.REQUISC_PORTALModel

@{
    ViewData["Title"] = "Crear Requisición de Compras";
}

<hr />
<div class="card card-danger">
    <div class="card-header">
        <h5 class="float-left">
            @ViewData["Title"]
        </h5>
    </div>
    <div class="card-body p-2">
        <form asp-action="Create" asp-controller="Compras" method="post">
            <div class="row">
                <input asp-for="TipoDocumento" class="form-control" value="RQ" type="hidden" />
                <input asp-for="TIPOREQUI" class="form-control" value="RQ" type="hidden" />
                @Html.Partial(nameof(Datos))
            </div>
            <div class="row my-1">
                <div class="col-sm-8 text-left">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Grabar
                        </button>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="form-group">
                        <button type="reset" class="btn btn-danger">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Grabar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="my-2">
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i>
        Regresar
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
